<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Import</title>
		<style>
			table 
			{
			  border-collapse: collapse;
			  width: 100%;
			}
			
			th, td 
			{
			  padding: 8px;
			  text-align: left;
			  border-bottom: 1px solid #DDD;
			}
			
			tr:hover {background-color: #D6EEEE;}
		</style>
	</head>
	<body>
		<h3>Imported datas:</h3>
		<table>
			<tr>
				<th>Game ID</th>
				<th>First user</th>
				<th>First user's score</th>
				<th>Second user</th>
				<th>Second user's score</th>
				<th>Location</th>
				<th>Rent fee/hour</th>
				<th>Date</th>
			</tr>
			
			<tr th:each="gameDTO : ${gameDTOList.getGameDTOList()}">
				<td th:text="${gameDTO.getGameID()}"></td>
				<td th:text="${gameDTO.getFirstUserDTO().getUserName()}"></td>
				<td th:text="${gameDTO.getFirstUserScore()}"></td>
				<td th:text="${gameDTO.getSecondUserDTO().getUserName()}"></td>
				<td th:text="${gameDTO.getSecondUserScore()}"></td>
				<td th:text="${gameDTO.getLocationDTO().getLocationName()}"></td>
				<td th:text="${gameDTO.getLocationDTO().getRentFeePerHour() + '/' + gameDTO.getLocationDTO().getRentFeePerHourInEur()}"></td>
				<td th:text="${gameDTO.getDate()}"></td>
			</tr>
		</table>
		<br/>
		
		<form action="/index" method="get">
			<input type="hidden" name="userid" th:value="${gameDTOList.getUserID()}"/>
			<input type="submit" value="Back to Index" />
		</form>
	</body>
</html>