<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Index</title>
		<style>
			table 
			{
			  border-collapse: collapse;
			  width: 100%;
			}
			
			th, td 
			{
			  padding: 8px;
			  text-align: left;
			  border-bottom: 1px solid #DDD;
			}
			
			tr:hover {background-color: #D6EEEE;}
		</style>
	</head>
	<body>
		<a th:href="'/admin?userid=' + ${gameDTOList.getUserID()}" ><button>Admin</button></a>
		<div th:if="${userDTO != null}" >
			<p th:if="${userDTO.getRole().name() != 'ADMIN' }" th:text="${'(You are not admin!)'}"></p>
		</div>
		
		<table >
			<tr>
				<th>Game ID</th>
				<th>First user</th>
				<th>First user's score</th>
				<th>Second user</th>
				<th>Second user's score</th>
				<th>Location</th>
			</tr>
			
			<tr th:each="gameDTO : ${gameDTOList.getGameDTOList()}">
				<td th:text="${gameDTO.getGameID()}"></td>
				<td th:text="${gameDTO.getFirstUserDTO().getUserName()}"></td>
				<td th:text="${gameDTO.getFirstUserScore()}"></td>
				<td th:text="${gameDTO.getSecondUserDTO.getUserName()}"></td>
				<td th:text="${gameDTO.getSecondUserScore()}"></td>
				<td th:text="${gameDTO.getLocationDTO().getLocationName()}"></td>
			</tr>
		</table>
	
		<form action="/index/searchuser" method="get"> 
			<p>Search by name:</p>
			<select name="username">
				<option>Select</option>
				<option th:each="userDTO:${gameDTOList.getUserList()}" th:value="${userDTO.getUserName()}" th:text="${userDTO.getUserName()}"></option>
			</select>
			<input type="hidden" th:value="${gameDTOList.getUserID()}" name="userid" />
			<input type="submit" value="Search"/>
		</form>	
		
		<form action="/index/searchlocation" method="get"> 
			<p>Search by location:</p>
			<select name="locationname">
				<option>Select</option>
				<option th:each="locationDTO:${gameDTOList.getLocationList()}" th:value="${locationDTO.getLocationName()}" th:text="${locationDTO.getLocationName()}"></option>
			</select>
			<input type="hidden" th:value="${gameDTOList.getUserID()}" name="userid" />
			<input type="submit" value="Search"/>
		</form>
		<br/>
		<br/>
		
		<a th:href="'/index?userid=' + ${gameDTOList.getUserID()}" ><button>Clear order</button></a>
	</body>
</html>